In [5]:
import folium
from folium import plugins
from folium.plugins import HeatMap, HeatMapWithTime

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime, timedelta
from sklearn.cluster import KMeans

import branca
import branca.colormap as cm
%matplotlib inline

RAWDATA_fp = 'Raw_data/'
TRANSACTION_fp = RAWDATA_fp+'01Transaction/'
POI_fp = RAWDATA_fp+'02POI/'
CENSUS_fp = RAWDATA_fp+'03CensusI/'
GEO_fp = RAWDATA_fp+'04Geographic_data/'

# Read Data

In [19]:
poi_data = pd.read_csv(POI_fp+'POI_price_multi_index_sheet.csv') #header=[0, 1]
house_data = pd.read_csv(TRANSACTION_fp+'1118transaction.csv')
long_lat_data = pd.read_csv(POI_fp+'POI_0_4048.csv')
long_lat_data.rename(columns = {'Unnamed: 0':'address'}, inplace = True)
house_data.rename(columns = {'Address':'address'}, inplace = True)

In [20]:
poi_data

,subway_station,subway_station.1,subway_station.2,police,police.1,police.2,primary_school,primary_school.1,primary_school.2,university,...,bus_station.2,park,park.1,park.2,church,church.1,church.2,hospital,hospital.1,hospital.2
0,500,1000,3000,500,1000,3000,500,1000,3000,500,...,3000,500,1000,3000,500,1000,3000,500,1000,3000
1,0,0,8,2,2,15,1,7,26,2,...,49,7,30,60,9,20,60,4,5,31
2,0,1,10,0,3,18,3,7,36,2,...,60,7,22,60,1,9,60,0,3,60
3,1,2,4,1,10,13,3,7,12,0,...,30,10,42,60,22,50,60,18,27,35
4,0,0,10,1,1,20,0,2,34,0,...,60,5,15,60,0,4,60,0,3,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4012,1,4,5,0,3,7,3,3,8,4,...,30,16,42,60,13,31,50,19,37,53
4013,0,1,2,0,9,10,2,3,6,3,...,12,9,26,47,5,11,17,1,24,25
4014,0,0,2,1,5,5,0,4,7,1,...,4,5,28,42,0,13,26,0,6,12
4015,1,1,2,3,4,8,2,6,12,2,...,13,5,37,60,9,39,57,6,32,39
4016,0,1,2,0,10,10,2,3,6,3,...,13,10,26,50,5,12,18,1,24,26

In [18]:
poi_data = poi_data.iloc[2: , :]

In [8]:
# get dataframe of specific distance
poi_data = poi_data.reset_index()
# address = poi_data['address']
# poi_500 = poi_data.loc[:,(slice(None),'500')]
# poi_500['address'] = address
# poi_1000 = poi_data.loc[:,(slice(None),'1000')]
# poi_1000['address'] = address
# poi_3000 = poi_data.loc[:,(slice(None),'3000')]
# poi_3000['address'] = address

In [9]:
poi_data.rename(columns = {'POI':'address'}, inplace = True)

In [10]:
# Merge dataframe of two data csv files
house_data = pd.merge(house_data,long_lat_data[['address','latitude','longitude']],
              on='address', how='inner')

In [11]:
house_data

,address,Urban District,Land Transacted (Square Meter),Transaction Date,Number of Land Transcated,Number of Building/Floor Transcated,Number of Parking Transcated,Transacted Floor,Total Floor,Type of Building,...,Building Management,Total Cost(NTD),Cost per Sqaure Meter,Unique ID,Main area (square meter),Addtional area (square meter),Balcony Area (sqaure meter),Transaction Year,latitude,longitude
0,臺北市大同區民權西路１７９號十樓之３,Datong District,14.91,2013-04-02,1,1,1,10,13.0,Residential Apartment/Condo (11F+ with elevators),...,Yes,30600000,207942,SPVOMLSJOHPFFBA98CA,85.75,0.0,9.37,2013,25.063168,121.515766
1,臺北市大同區民權西路１７９號十樓,Datong District,10.75,2013-04-02,1,1,1,10,13.0,Residential Apartment/Condo (11F+ with elevators),...,Yes,22400000,205897,RPVOMLSJOHPFFBA88CA,59.40,0.0,8.78,2013,25.063168,121.515766
2,臺北市士林區中山北路六段１９５巷１５號三樓之１,Shilin District,33.64,2015-12-30,1,1,2,2,21.0,Residential Apartment/Condo (11F+ with elevators),...,No,65146000,290766,RPOOMLRKOHPFFEA48CA,121.29,0.0,15.29,2015,25.107704,121.523927
3,中山北路六段１９５巷１５號六樓之１,Shilin District,33.64,2016-10-26,1,1,2,6,21.0,Residential Apartment/Condo (11F+ with elevators),...,No,73345000,332756,SPXNMLOKPHPFFEA76EA,331.98,0.0,38.08,2016,25.107805,121.524209
4,中山北路六段１９５巷１５號六樓,Shilin District,57.16,2016-10-26,1,1,2,6,21.0,Residential Apartment/Condo (11F+ with elevators),...,No,121668000,332747,RPXNMLOKPHPFFEA66EA,331.98,0.0,38.08,2016,25.107704,121.523927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4070,臺北市內湖區陽光街１６１巷１２之４１號三樓,Neihu District,23.04,2022-06-03,1,1,0,3,5.0,Apartment Building (Below 10F with Elevator),...,Yes,11960000,267382,RPTQMLTLOHHGFCA78EA,27.34,0.0,0.00,2022,25.074384,121.585482
4071,臺北市信義區吳興街２８４巷２４弄５３號二樓,Xinyi District,27.60,2022-06-12,1,1,0,2,5.0,Apartment (Below 5F without Elevator),...,No,16800000,171149,RPOQMLSLOHHGFDA18DA,84.08,0.0,14.08,2022,25.023162,121.561976
4072,臺北市中山區八德路二段２８４號四樓,Zhongshan District,16.79,2022-06-13,1,1,0,4,4.0,Apartment (Below 5F without Elevator),...,No,12000000,193830,RPQOMLTJQHHGFCA28EA,58.13,0.0,3.78,2022,25.046916,121.541781
4073,臺北市士林區文林路７６５號九樓之３,Shilin District,10.20,2022-07-07,1,1,0,9,11.0,Residential Apartment/Condo (11F+ with elevators),...,Yes,12900000,148806,RPOOMLTKPHHGFEA28EA,64.27,0.0,9.86,2022,25.103640,121.519657
4074,臺北市萬華區桂林路１２８號三樓之６,Wanhua District,7.00,2022-07-23,1,1,0,3,21.0,Residential Apartment/Condo (11F+ with elevators),...,Yes,18200000,218803,RPOOMLTJQHHGFBA87DA,51.26,0.0,4.72,2022,25.038380,121.499021

# Process Data

In [12]:
house_data.rename(columns = {'Address':'address'}, inplace = True)

In [16]:
poi_data

,subway_station,subway_station.1,subway_station.2,police,police.1,police.2,primary_school,primary_school.1,primary_school.2,university,...,bus_station.2,park,park.1,park.2,church,church.1,church.2,hospital,hospital.1,hospital.2
0,0,1,10,0,3,18,3,7,36,2,...,60,7,22,60,1,9,60,0,3,60
1,1,2,4,1,10,13,3,7,12,0,...,30,10,42,60,22,50,60,18,27,35
2,0,0,10,1,1,20,0,2,34,0,...,60,5,15,60,0,4,60,0,3,60
3,0,2,6,0,0,7,1,1,11,0,...,27,1,13,60,0,6,46,0,1,22
4,1,2,9,1,4,18,1,7,31,7,...,58,1,22,60,3,17,60,16,18,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4010,1,4,5,0,3,7,3,3,8,4,...,30,16,42,60,13,31,50,19,37,53
4011,0,1,2,0,9,10,2,3,6,3,...,12,9,26,47,5,11,17,1,24,25
4012,0,0,2,1,5,5,0,4,7,1,...,4,5,28,42,0,13,26,0,6,12
4013,1,1,2,3,4,8,2,6,12,2,...,13,5,37,60,9,39,57,6,32,39
4014,0,1,2,0,10,10,2,3,6,3,...,13,10,26,50,5,12,18,1,24,26

In [13]:
house_data.columns

Index(['address', 'Urban District', 'Land Transacted (Square Meter)',
       'Transaction Date', 'Number of Land Transcated ',
       'Number of Building/Floor Transcated ', 'Number of Parking Transcated ',
       'Transacted Floor', 'Total Floor', 'Type of Building',
       'Main construction Method', 'Building Completion Date',
       'Total Area Transacted (Sqaure Meter)', 'Bed Rooms',
       'Living/Dining Rooms', 'Bathrooms', 'Building Management',
       'Total Cost(NTD)', 'Cost per Sqaure Meter', 'Unique ID',
       'Main  area (square meter)', 'Addtional area (square meter)',
       'Balcony Area (sqaure meter)', 'Transaction Year', 'latitude',
       'longitude'],
      dtype='object')

In [14]:
# Merge dataframe of two data csv files
df = pd.merge(poi_data,house_data
              [['address','latitude','longitude','Transaction Date','Total Cost(NTD)',
                'Cost per Sqaure Meter','Building Completion Date','Transacted Floor',
                'Total Floor','Total Area Transacted (Sqaure Meter)','Bed Rooms',
                'Living/Dining Rooms', 'Bathrooms','Main construction Method',
                'Type of Building']],
              on='address', how='left')

KeyError: 'address'

In [ ]:
df = df[~df['Transacted Floor'].str.contains('，')]

In [ ]:
df['Type of Building'].value_counts()

In [ ]:
df.loc[df['Type of Building'] == "Store (1F)(店鋪)", "Type of Building"] = 'Others'
df.loc[df['Type of Building'] == "Office Building ", "Type of Building"] = 'Others'

In [ ]:
df

In [ ]:
construction_method_other = ['Brick', 'Steel Constructurer', 'Reinforced Concrete and Reinforced Brick', 'Prestressed Concrete']
df.loc[df["Main construction Method"] == "Steel Constructurer", "Main construction Method"] = 'Other'
df.loc[df["Main construction Method"] == "Brick", "Main construction Method"] = 'Other'
df.loc[df["Main construction Method"] == 'Reinforced Concrete and Reinforced Brick',"Main construction Method"] = 'Other'
df.loc[df["Main construction Method"] == "Prestressed Concrete","Main construction Method"] = 'Other'

In [15]:
drop_list = ['全','三11','地下1', '三13','地下層']
for i in drop_list:
    df = df[~df['Transacted Floor'].str.contains(i)]

NameError: name 'df' is not defined

In [ ]:
df['Transacted Floor']=df['Transacted Floor'].astype('int')

In [ ]:
# clean #value error rows 
df = df[~df['Building Completion Date'].str.contains('#VALUE!')]

In [ ]:
df.loc[:,'Building Completion Date'] = pd.to_datetime(df['Building Completion Date'])

In [ ]:
df['transaction year'] = df['Transaction Date'].apply(lambda x:x[:4])
df['transaction year'] = df['transaction year'].astype('int')
df = df[df['transaction year']<=2022]
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])
df['time delta'] = df['Transaction Date'] - df['Building Completion Date']

In [ ]:
df['time delta year'] = df['time delta'].astype("timedelta64[Y]")

# Initital Map

In [ ]:
taipei_center = [25.048651234895363, 121.54614479464894]
m = folium.Map(taipei_center, zoom_start=12)
marker_colors = ['red','blue','gray','orange','green','purple','darkpurple','pink','cadetblue','lightgray','black']

In [ ]:
m

## Raw data based on Total Price

In [ ]:
df_price = df[['latitude','longitude','Total Cost(NTD)','address']].copy()
start_coord = (25.048651234895363, 121.54614479464894)

colormap = cm.LinearColormap(colors=['lightblue','blue','darkblue','red'],vmin=5000000,vmax=80000000)

maps = folium.Map(location=start_coord, zoom_start=12)

for index, row in df_price.iterrows():
    pop_info = 'Address:' + row['address'] + "Total Cost (NTD):" + str(row['Total Cost(NTD)']) + "Lat/Lon:" + str(row['latitude']) + str(row['longitude'])
    folium.CircleMarker([row['latitude'], row['longitude']],
                        radius=2,color=colormap(row['Total Cost(NTD)']), popup=(pop_info)).add_to(maps)
maps.add_child(colormap)
display(maps)

## Raw data based on Cost per squaremeter

In [ ]:
df_price_m2 = df[['latitude','longitude','Cost per Sqaure Meter','address']].copy()
start_coord = (25.048651234895363, 121.54614479464894)

colormap = cm.LinearColormap(colors=['lightblue','blue','red'],vmin=100000,vmax=400000)
maps2 = folium.Map(location=start_coord, zoom_start=12)

for index, row in df_price_m2.iterrows():
    pop_info = 'Address:' + row['address'] + "Total Cost (NTD):" + str(row['Cost per Sqaure Meter']) + "Lat/Lon:" + str(row['latitude']) + str(row['longitude'])
    folium.CircleMarker([row['latitude'], row['longitude']],
                        radius=2,color=colormap(row['Cost per Sqaure Meter']), popup=(pop_info)).add_to(maps2)
maps2.add_child(colormap)
display(maps2)

# Clustering

## Only POI Cluster

### POI 500m

In [ ]:
def draw_map(df, marker_colors, label):
    for index, row in df.iterrows():
        for i in range(len(marker_colors)):
                       if row[label] == i:
                           folium.CircleMarker([row['latitude'], row['longitude']],
                            radius=3,color=marker_colors[i],tooltip=(row['address'],
                            row['Total Cost(NTD)'],row['Cost per Sqaure Meter'])).add_to(m)
    return m

In [ ]:
df_poi_500 = df.loc[:, ['police','hospital','shopping_mall',
                 'subway_station','supermarket','park','church','library',
                'night_club','university','primary_school','bus_station']]
K_cluster = 4
kmeans = KMeans(init="random", n_clusters= K_cluster, n_init=10, max_iter=300, random_state=42)
kmeans.fit(df_poi_500)
df['500_label'] = kmeans.labels_

In [ ]:
draw_map(df, marker_colors, '500_label')

### POI 1000m / 1km

In [ ]:
df_poi_1km = df.loc[:, ['police.1','hospital.1','shopping_mall.1',
                 'subway_station.1','supermarket.1','park.1','church.1','library.1',
                'night_club.1','university.1','primary_school.1','bus_station.1']]
K_cluster = 4
kmeans = KMeans(init="random", n_clusters= K_cluster, n_init=10, max_iter=300, random_state=42)
kmeans.fit(df_poi_1km)
df['1km_label'] = kmeans.labels_

In [ ]:
draw_map(df, marker_colors, '1km_label')

### POI 3000m / 3km

In [ ]:
df_poi_3km = df.loc[:, ['police.2','hospital.2','shopping_mall.2',
                 'subway_station.2','supermarket.2','park.2','church.2','library.2',
                'night_club.2','university.2','primary_school.2','bus_station.2']]
K_cluster = 4
kmeans = KMeans(init="random", n_clusters= K_cluster, n_init=10, max_iter=300, random_state=42)
kmeans.fit(df_poi_3km)
df['3km_label'] = kmeans.labels_

In [ ]:
draw_map(df, marker_colors, '3km_label')

## POI + Price (Cost/m2)

### POI 500m + Price

In [ ]:
df_poi_500_price = df.loc[:, ['Cost per Sqaure Meter','police','hospital','shopping_mall',
                 'subway_station','supermarket','park','church','library',
                'night_club','university','primary_school','bus_station']]
K_cluster = 4
kmeans = KMeans(init="random", n_clusters= K_cluster, n_init=10, max_iter=300, random_state=42)
kmeans.fit(df_poi_500_price)
df['500_price_label'] = kmeans.labels_

In [ ]:
draw_map(df, marker_colors, '500_price_label')

### POI 1000m / 1km

In [ ]:
df_poi_1km_price = df.loc[:, ['Cost per Sqaure Meter','shopping_mall.1',
                 'subway_station.1','supermarket.1','park.1','church.1','library.1',
                'night_club.1','university.1','primary_school.1','bus_station.1']]
K_cluster = 4
kmeans = KMeans(init="random", n_clusters= K_cluster, n_init=10, max_iter=300, random_state=42)
kmeans.fit(df_poi_1km_price)
df['1km_price_label'] = kmeans.labels_

In [ ]:
draw_map(df, marker_colors, '1km_price_label')

### POI 3000m / 3km

In [ ]:
df_poi_3km_price = df.loc[:, ['Cost per Sqaure Meter','police.2','hospital.2','shopping_mall.2',
                 'subway_station.2','supermarket.2','park.2','church.2','library.2',
                'night_club.2','university.2','primary_school.2','bus_station.2']]
K_cluster = 4
kmeans = KMeans(init="random", n_clusters= K_cluster, n_init=10, max_iter=300, random_state=42)
kmeans.fit(df_poi_3km_price)
df['3km_price_label'] = kmeans.labels_

In [ ]:
draw_map(df, marker_colors, '3km_price_label')

## Only House Properties

In [ ]:
df.columns

In [ ]:
# Merge dataframe of two data csv files
house_df = df[['address','latitude', 'longitude', 'Total Cost(NTD)',
       'Cost per Sqaure Meter', 'Transacted Floor',
       'Total Floor', 'Total Area Transacted (Sqaure Meter)', 'Bed Rooms',
       'Living/Dining Rooms', 'Bathrooms', 'Main construction Method',
       'Type of Building','time delta year']].copy()

In [ ]:
house_df = pd.get_dummies(house_df, columns = ['Main construction Method','Type of Building'])

In [ ]:
house_df_temp = house_df.copy()
house_df_temp = house_df_temp.drop(['address','latitude', 'longitude', 'Total Cost(NTD)','Cost per Sqaure Meter','Total Floor'], axis=1)

In [ ]:
house_df_temp

In [ ]:
K_cluster = 3
kmeans = KMeans(init="random", n_clusters= K_cluster, n_init=10, max_iter=300, random_state=42)
kmeans.fit(house_df_temp)
df['house_no_price_label'] = kmeans.labels_

In [ ]:
draw_map(df, marker_colors, 'house_no_price_label')

In [ ]:
house_df_temp = house_df.copy()
house_df_temp = house_df_temp.drop(['address','latitude', 'longitude', 'Total Cost(NTD)','Total Floor'], axis=1)

In [ ]:
K_cluster = 3
kmeans = KMeans(init="random", n_clusters= K_cluster, n_init=10, max_iter=300, random_state=42)
kmeans.fit(house_df_temp)
df['house_price_label'] = kmeans.labels_

In [ ]:
draw_map(df, marker_colors, 'house_price_label')

In [ ]:
import json
import requests
taipei_district = pd.read_csv("2020_november_distrcit_activity.csv")
url = 'https://od.moi.gov.tw/api/v1/rest/datastore/301000100G-000887-003.json'
with open('G97_A_CADIST_P.geojson', 'r') as f:
    taipei_geo = json.load(f)    #for state level data

In [ ]:
taipei_district['TOWN_ID'] = taipei_district['TOWN_ID'].astype(str)
taipei_district['CPID'] = '630' + taipei_district['TOWN_ID'].str[5:7]

In [ ]:
url = (
    "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data"
)
state_geo = f"{url}/us-states.json"
state_unemployment = f"{url}/US_Unemployment_Oct2012.csv"
state_data = pd.read_csv(state_unemployment)

m = folium.Map(location=[48, -102], zoom_start=3)

folium.Choropleth(
    geo_data=state_geo,
    name="choropleth",
    data=state_data,
    columns=["State", "Unemployment"],
    key_on="feature.id",
    fill_color="YlGn",
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name="Unemployment Rate (%)",
).add_to(m)

folium.LayerControl().add_to(m)
m

In [ ]:
taipei_city = folium.Map(location=[25.048651234895363, 121.54614479464894], zoom_start=12)
folium.Choropleth(
    geo_data = pdf_Taipei[['CPID','geometry']],                  #json
    name ='choropleth',                  
    data = taipei_district,                     
    columns = ['CPID', 'NIGHT_WORK'], #columns to work on
    key_on ='feature.properties.CPID',
    fill_color ='YlGnBu',     #I passed colors Yellow,Green,Blue
    fill_opacity = 0,
    line_opacity = 0.5,
    legend_name = "Unemployment scale"
).add_to(taipei_city)
folium.LayerControl().add_to(taipei_city)
taipei_city

In [ ]:
layer = folium.GeoJson(
    data=(open('G97_A_CADIST_P.geojson', "r").read()),
    name='geogeo',
).add_to(taipei_city) # 1. keep a reference to GeoJSON layer

taipei_city.fit_bounds(layer.get_bounds())

In [ ]:
taipei_city = folium.Map(location=[25.048651234895363, 121.54614479464894], zoom_start=12)

folium.Choropleth(
    geo_data = 'G97_A_CADIST_P.geojson',                  #json
    name ='choropleth',                  
    data = taipei_district,                     
    columns = ['CPID', 'NIGHT_WORK'], #columns to work on
    key_on ='feature.properties.CPID',
    fill_color ='YlGnBu',     #I passed colors Yellow,Green,Blue
    fill_opacity = 0,
    line_opacity = 0,
    legend_name = "Unemployment scale"
).add_to(taipei_city)
taipei_city

In [ ]:
taipei_city = folium.Map(location=[25.048651234895363, 121.54614479464894], zoom_start=12)
taipei_city

In [ ]:
taipei_city.geo_json(geo_path='G97_A_CADIST_P.geojson')

In [ ]:
taipei_district